@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: rgb(158, 0, 0);
    --light-main: rgb(192, 0, 0);
    --secondary-color: rgb(199, 199, 199);
    --light-secondary: rgb(229, 229, 229);
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-main);
}

::-moz-selection {
    background: rgb(226, 77, 77);
}

::selection {
    background: rgb(226, 77, 77);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-weight: 500;
}

nav {
    background-color: var(--light-secondary);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}

label.logo {
    position: absolute;
    color: var(--light-main);
    font-size: 2rem;
    line-height: 90px;
    left: 50px;
    font-weight: bold;
    cursor: pointer;
}

label.logo a {
    text-decoration: none;
    color: var(--light-main);
}

nav ul {
    float: right;
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--light-main);
    font-size: 1.2rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover {
    color: var(--main-color);
}

.logo-icon {
    height: 60px;
    width: 60px;
    padding-top: 10px;
}

.checkbtn {
    font-size: 30px;
    color: var(--secondary-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo-img{
    width:200px;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        left: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 110%;
        height: 100vh;
        top: 80px;
        right: -110%;
        top: 80px;
        margin-right: -20px;
        transition: all .5s;
        text-align: center;
        background-color: var(--light-secondary);
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }


    #check:checked~ul {
        right: 0;
    }
}

/*
    About
*/

.about {
    margin-top: 100px;
    width: 100%;
}

.about-inner {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-img {
    width: 30%;
}

.about-text {
    width: 60%;
    margin: 30px;
    margin-top: 0;
}

.about-img-img {
    width: 100%;
    margin-left: 10px;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.about-h-section {
    margin-top: 20px;
    margin: 15px;
}

.about-h {
    text-align: center;
    font-size: 2.5rem;
}

.about-h-underline {
    width: 5rem;
    padding: 2px;
    background-color: var(--main-color);
    margin: 0 auto;
}

.about-text {
    margin-left: 50px;
}

.about-text-p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 40px;
}

.about-text-a {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 12px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    font-size: 1.1rem;
}

.about-text-a:hover {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

@media (max-width:960px) {
    .about-img {
        width: 40%;
        margin: 0 auto;
    }

    .about-text {
        width: 50%;
    }

    .about-text-p {
        line-height: 150%;
    }
}

@media (max-width:870px) {
    .about-img {
        width: 40%;
        margin: 0 auto;
    }

    .about-img-img {
        margin-left: 0;
    }

    .about-text {
        margin-top: 25px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .about-inner {
        flex-direction: column;
        justify-content: center;
    }
}

/*
    Footer
*/

.footer {
    margin-top: 60px;
    background-color: var(--secondary-color);
}

.upper-footer {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.useful-links {
    width: 30%;
}

.socialmedia-links {
    width: 30%;
}

.footer-description {
    width: 35%;
}

.footer-line-break {
    padding: 2px;
    background-color: rgb(107, 105, 105);
}

.below-footer {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.footer-mini-h {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1.25rem;
    font-weight: 500;
}

.useful-links-inner,
.socialmedia-links-inner {
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.footer-icons {
    margin-right: 0.5rem;
    color: var(--main-color);
    font-size: 0.5rem;
}

.footer-social-media-icons{
    font-size: 1rem;
}

.socialmedia-links-inner:hover,
.useful-links-inner:hover {
    padding-left: 0.5rem;
    transition: 0.3s ease-in-out;
}

.socialmedia-links-inner,
.useful-links-inner,
.footer-description-p {
    font-size: 1.1rem;
}

.footer-description-p {
    text-align: justify;
}

@media (max-width:760px) {
    .upper-footer {
        justify-content: left;
    }

    .useful-links,
    .socialmedia-links {
        width: 50%;
    }

    .footer-description {
        width: 100%;
        margin-top: 30px;
    }
}

/*

Principal and TIC Message Section

*/

.principal-message {
    margin-top: 100px;
}

.tic-message {
    margin-top: 100px;
}

.inner-principal-message,
.inner-tic-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-principal-message-quote-section,
.inner-tic-message-quote-section {
    width: 60%;
}

.inner-principal-message-img-section,
.inner-tic-message-img-section {
    width: 25%;
}

.inner-principal-message-img-section-img,
.inner-tic-message-img-section-img {
    width: 100%;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.inner-principal-message-quote-section {
    margin-right: 50px;
}

.inner-tic-message-quote-section {
    margin-left: 50px;
}

.inner-principal-message-img-section-quote,
.inner-tic-message-img-section-quote {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 200%;
}

.fa-quote-left {
    font-size: 3rem;
}

.message-h-section {
    margin-top: 50px;
    margin-bottom: 35px;
}

.message-h {
    text-align: center;
    font-size: 2.5rem;
}

.message-h-underline {
    width: 5rem;
    padding: 2px;
    background-color: var(--main-color);
    margin: 0 auto;
}

@media (max-width:1140px) {
    .inner-principal-message-quote-section {
        margin-top: 0;
        margin-right: 50px;
    }

    .inner-tic-message-quote-section {
        margin-top: 0;
        margin-left: 50px;
    }
}

@media (max-width:1050px) {
    .fa-quote-left {
        font-size: 2rem;
    }

    .inner-principal-message-img-section-quote,
    .inner-tic-message-img-section-quote {
        line-height: 170%;
    }
}

@media (max-width:870px) {

    .inner-principal-message,
    .inner-tic-message {
        flex-direction: column;
    }

    .inner-principal-message-img-section,
    .inner-tic-message-img-section {
        margin-right: auto;
        margin-left: auto;
        width: 35%;
    }

    .inner-principal-message-quote-section {
        order: 1;
        margin-right: auto;
        margin-left: auto;
    }

    .inner-tic-message-quote-section {
        margin-right: auto;
        margin-left: auto;
    }
}

/*

Mini Gallery

*/

.minigallery-section {
    margin-top: 150px;
}

.minigallery-h-section {
    margin-top: 50px;
    margin-bottom: 35px;
}

.minigallery-h {
    text-align: center;
    font-size: 2.5rem;
}

.minigallery-h-underline {
    width: 5rem;
    padding: 2px;
    background-color: var(--main-color);
    margin: 0 auto;
}

.minigallery-view-more-a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.2rem;
}

.minigallery-view-more {
    padding: 10px;
    border: 4px solid var(--main-color);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 35px;
    cursor: pointer;
}

.minigallery-view-more:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

.minigallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */
.minigal-column {
    -ms-flex: 20%;
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

.minigal-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .minigal-column {
        -ms-flex: 30%;
        flex: 30%;
        max-width: 30%;
    }

    .minigallery-view-more {
        width: 50%;
    }
}

.history {
    margin-top: 130px;
}

.h-section {
    margin-bottom: 35px;
}

.h {
    text-align: center;
    font-size: 2.5rem;
}

.h-underline {
    width: 5rem;
    padding: 2px;
    background-color: var(--main-color);
    margin: 0 auto;
}

.inner-history {
    display: flex;
    flex-wrap: wrap;
}

.inner-history-image-section {
    width: 23%;
}

.inner-history-text-section {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.inner-history-image-img {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.inner-history-text-section-p {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;
}

@media (max-width:1050px) {
    .inner-history-image-section {
        width: 20%;
    }

    .inner-history-text-section {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .inner-history-text-section-p {
        font-size: 1.1rem;
        line-height: 130%;
    }
}

@media (max-width:950px) {
    .inner-history {
        flex-direction: column;
    }

    .inner-history-image-section {
        width: 25%;
        margin-right: auto;
        margin-left: auto;
    }

    .inner-history-image-img {
        margin-right: 0;
        margin-left: 0;
    }

    .inner-history-text-section {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .inner-history-text-section-p {
        font-size: 1.1rem;
        line-height: 140%;
        margin-top: 30px;
    }
}

@media (max-width:680px) {
    .inner-history-image-section {
        width: 35%;
    }
}

.board {
    margin-top: 80px;
}

.president-section {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: var(--light-secondary);
    border-radius: 3px;
}

.president-section:hover {
    transition: 0.7s ease-in-out;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.president-section-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 15px;
}

.president-section-name,
.president-section-post {
    margin-left: 5%;
}

.president-section-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.president-section-post {
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: 25px;
    padding-top: 5px;
}

.top-board,
.inner-achivement-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-member-section,
.single-achivement-section {
    width: 25%;
    background-color: var(--light-secondary);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.board-member-section:hover,
.single-achivement-section:hover {
    transition: 0.7s ease-in-out;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.board-member-section-img,
.single-achivement-section-image-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 15px;
}

.board-member-section-name,
.board-member-section-post {
    margin-left: 5%;
}

.board-member-section-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.board-member-section-post {
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: 25px;
    padding-top: 5px;
}

@media (max-width:1100px) {

    .president-section,
    .board-member-section,
    .single-achivement-section {
        width: 30%;
    }

    .top-board,
    .inner-achivement-section {
        justify-content: center;
    }

    .vice-president-section {
        order: -1;
    }
}

@media (max-width:820px) {

    .president-section,
    .board-member-section,
    .single-achivement-section {
        width: 40%;
    }

    .president-section-name,
    .board-member-section-name {
        font-size: 1.25rem;
    }

    .president-section-post,
    .board-member-section-post {
        font-size: 1rem;
    }
}

@media (max-width:600px) {

    .president-section,
    .board-member-section,
    .single-achivement-section {
        width: 80%;
    }

    .president-section-img,
    .board-member-section-img,
    .single-achivement-section-image-img {
        width: 90%;
        height: 270px;
    }
}

.logo-section {
    margin-top: 100px;
}

.inner-logo-section-logo {
    margin-top: 30px;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.inner-logo-section-details{
    width:90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.inner-logo-detial-section-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.inner-logo-detial-section-card-item{
    width:35%;
    font-size: 1.2rem;
    font-weight: 600;
}

.inner-logo-detial-section-card-hypen{
    width:10%;
    font-size:1.5rem;
    text-align: center;
}

.inner-logo-detial-section-card-meaning{
    width:40%;
    font-size: 1.1rem;
}

.fa-circle{
    margin-right:20px;
    font-size: 0.75rem;
    color: var(--main-color);
    margin-top:10px;
}

/* @media (max-width:930px) {
    .inner-logo-section-logo {
        width: 0%;
    }
} */

@media (max-width:870px) {
    .inner-logo-section-details{
        width:95%;
    }
}

@media (max-width:760px) {
    .inner-logo-section-logo {
        width: 30%;
    }
}

@media (max-width:600px) {
    .inner-logo-section-logo {
        width: 35%;
    }
}

/*

    Alumni Mini

*/

.alumniMini-section {
    margin-top: 100px;
}

.inner-alumniMini-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-alumniMini-section-img {
    order: 3;
    width: 30%;
}

.inner-alumniMini-section-img-img {
    width: 100%;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.inner-alumniMini-section-text {
    width: 50%;
    margin-right: 50px;
}

.inner-alumniMini-section-text-p {
    text-align: justify;
    line-height: 150%;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.inner-alumniMini-section-text-button {
    padding: 15px;
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    color: var(--main-color);
    border-radius: 5px;
    text-decoration: none;
}

.inner-alumniMini-section-text-button:hover {
    transition: 0.3s ease-in-out;
    background-color: #fff;
}

@media (max-width:870px) {
    .inner-alumniMini-section {
        flex-direction: column;
    }

    .inner-alumniMini-section-img {
        order: 0;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }

    .inner-alumniMini-section-img-img {
        width: 100%;
    }

    .inner-alumniMini-section-text {
        margin-top: 30px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

.alumni-section {
    margin-top: 130px;
}

.inner-alumni-section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.alumni-section-image-img {
    width: 100%;
}

.alumni-section-texts {
    margin-top: 50px;
    margin-bottom: 100px;
}

.alumni-section-texts-p1,
.alumni-section-texts-p2,
.alumni-section-texts-p3 {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;
}

.alumni-section-texts-p2,
.alumni-section-texts-p3 {
    margin-top: 30px;
}

.alumni-section-texts-p1-fl {
    font-size: 3rem;
}

@media (max-width:830px) {
    .inner-alumni-section {
        width: 70%;
    }
}

@media (max-width:600px) {
    .inner-alumni-section {
        width: 80%;
    }
}

.achivements {
    margin-top: 130px;
}

.single-achivement-section {
    position: relative;
    height: 25rem;
}

.single-achivement-section-texts {
    margin-left: 5%;
    padding-bottom: 20px;
}

.single-achivement-section-texts-h {
    font-size: 1.75rem;
    font-weight: 600;
}

.single-achivement-section-texts-p {
    padding-top: 7px;
}

.single-achivement-section-texts-h3 {
    position: absolute;
    bottom: 0;
    left: 10;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .single-achivement-section {
        height: 30rem;
    }
}

.loader {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:40vh;
    margin-bottom: 40vh;
    border: 16px solid var(--secondary-color);
    border-radius: 50%;
    border-top: 16px solid var(--main-color);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*

  Gallery

*/

.gallery-section{
    margin-top:150px;
    width:100%;
}

.gallery-inner{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
}

.gallery-inner-card{
    width:25%;
    margin-right:20px;
    margin-left:20px;
    background-color: var(--light-secondary);
    margin-top:80px;
    border-radius: 5px;
}

.gallery-inner-card:hover{
    transition: 0.7s ease-in-out;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.gallery-inner-card-image{
    padding-top: 30px;
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery-inner-card-image-img{
    width:100%;
    height:30vh
}

.gallery-inner-card-texts{
    margin-left:5%;
    margin-top:20px;
    margin-bottom:40px;
}

.gallery-inner-card-texts-h1{
    font-size:1.5rem;
    font-weight: bold;
}

.gallery-inner-card-texts-h3{
    margin-top:10px;
    font-weight: 500;
}

.gallery-pagination-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:60px;
}

.gallery-pagination-button{
    height:40px;
    width:40px;
    margin:10px;
    border:2px solid var(--main-color);
    cursor: pointer;
    background-color: #fff;
    color: var(--main-color);
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    padding-top:10px;
}

.gallery-pagination-button:hover{
    background-color: var(--main-color);
    color:var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.active-pagination{
    background-color: var(--main-color);
    color:var(--secondary-color);
}

@media (max-width:1220px){
    .gallery-inner-card{
        width:35%;
    }

    .gallery-inner{
        justify-content: center;
    }
}

@media (max-width:1000px){
    .gallery-inner-card{
        width:40%;
    }
}

@media (max-width:730px){
    .gallery-inner-card{
        width:70%;
    }

    .gallery-inner-card-image-img{
        height: 40vh;
    }
}

/*

    Banner

*/
.home-banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url('/img/proposalr.jpg');
    height:750px;
    background-size: cover;
	width:100%;
}

.banner-section{
    display: flex;
    flex-wrap: wrap;
}

.inner-banner-section{
    padding-top:250px;
    padding-left:70px;
    color:var(--secondary-color);
    width:50%;
}

.inner-banner-section-title{
    font-size: 5rem;
    width:100%;
    font-weight: bold;
    margin-bottom: 50px;
}

.inner-banner-section-button{
    text-decoration: none;
    padding:15px;
    background-color: var(--main-color);
    border:4px solid var(--main-color);
    color:var(--secondary-color);
    font-size: 1.2rem;
    border-radius: 5px;
}

.inner-banner-section-button:hover{
    transition: 0.7s ease-in-out;
    background-color: rgba(0, 0, 0, 0.85);
}

.inner-banner-section-image{
    width:40%;
    margin-top:200px;
}

.inner-banner-section-image-img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.inner-banner-section-image {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
.inner-banner-section-image {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

@media (max-width:1365px) {
    .inner-banner-section-image{
        margin-top:250px;
    }
}

@media (max-width:1190px){
    .inner-banner-section-image{
        width:40%;
        margin-top:250px;
    } 
}

@media (max-width:1100px){
    .inner-banner-section-title{
        font-size: 4.5rem;
    }   
    .inner-banner-section-image{
        width:40%;
        margin-top:260px;
    }
}

@media (max-width:900px){
    .inner-banner-section{
        padding-top:250px;
    }  
    .inner-banner-section-title{
        font-size: 4.4rem;
    }   
    .inner-banner-section-image{
        width:40%;
        margin-top:280px;
    }
}

@media (max-width:870px){
    .inner-banner-section-image{
        width: 50%;
        order:-1;
        margin-top:160px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:-150px;
    }
    .inner-banner-section-image-img{
        width:50%;
    }
    .inner-banner-section{
        padding-top: 0;
        width: 100%;
        margin-right: 70px;
    }
    .inner-banner-section-title{
        font-size: 3.5rem;
    }
}

@media (max-width:740px){
    .inner-banner-section-image{
        width: 60%;
        margin-bottom:-140px;
    }
    
    .inner-banner-section-title{
        font-size: 3rem;
    }
}

@media (max-width:640px){
    .inner-banner-section-image{
        width: 70%;
        margin-bottom:-130px;
    }
}

@media (max-width:540px){
    .inner-banner-section-image{
        width: 80%;
        margin-bottom:-150px;
    }
    .inner-banner-section-title{
        font-size: 2.7rem;
    }
}