@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:rgb(158,0,0);
    --light-main:rgb(192,0,0);
    --secondary-color:rgb(199,199,199);
    --light-secondary:rgb(229,229,229);
}

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    background: #fff; 
}

::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--light-main);
}

::-moz-selection { 
    background: rgb(226, 77, 77);
}

::selection {
    background: rgb(226, 77, 77);
}

*{
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

body{
    height:100%;
    font-family: 'Barlow Condensed', sans-serif;
}

h1{
    font-weight: 500;
}

nav { 
    background-color: var(--light-secondary); 
    height: 80px; 
    width: 100%; 
    position: fixed;
    z-index: 999;
    top:0;
}
label.logo{ 
    position: absolute;
    color: var(--light-main); 
    font-size: 2rem; 
    line-height: 80px; 
    left:50px; 
    font-weight: bold; 
    cursor: pointer;
}

label.logo a{
    text-decoration: none;
    color: var(--light-main);
}
    
nav ul{ 
    float: right; 
    font-weight: 600; 
}

nav ul li{ 
    display: inline-block; 
    line-height:80px;
    margin: 0 5px; 
}

nav ul li a{
    color: var(--light-main);
    font-size: 1.2rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover{
    color:var(--main-color);
}

.logo-icon{
    height:60px;
    width:60px;
    padding-top:10px;
}

.checkbtn{
    font-size: 30px;
    color: var(--secondary-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; 
}

#check{
    display: none; 
}   


@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        left: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block; 
    }
    ul{
        position: fixed;
        width: 110%;
        height: 100vh;
        top: 80px;
        right: -110%;
        top: 80px;
        margin-right: -20px;
        transition: all .5s;
        text-align: center;
        background-color: var(--light-secondary);
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }


    #check:checked ~ ul{
        right: 0;
    }
}

/*
    About
*/

.about{
    margin-top: 100px;
    width:100%;
}

.about-inner{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-img{
    width:30%;
}

.about-text{
    width: 60%;
    margin:30px;
    margin-top:0;
}

.about-img-img{
    width:100%;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 75%);
}

.about-h-section{
    margin-top: 20px;
    margin:15px;
}

.about-h{
    text-align: center;
    font-size: 2.5rem;
}

.about-h-underline{
    width:5rem;
    padding:2px;
    background-color: var(--main-color);
    margin:0 auto;
}

.about-text-p{
    text-align: justify;
    font-size:1.2rem;
    line-height: 150%;
    margin-bottom: 40px;
}

.about-text-a{
    text-decoration: none;
    color:var(--main-color);
    background-color: var(--secondary-color);
    padding:12px;
    font-weight: 500;
    border-radius: 5px;
    border:2px solid var(--secondary-color);
    font-size:1.1rem;
}

.about-text-a:hover{
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

@media (max-width:960px){
    .about-img{
        width:40%;
        margin: 0 auto;
    }
    
    .about-text{
        width: 50%;
    }

    .about-text-p{
        line-height: 150%;
    }
}

@media (max-width:870px){
    .about-img{
        width:40%;
        margin: 0 auto;
    }
    
    .about-text{
        width: 80%;
        margin-right:auto;
        margin-left: auto;
    }

    .about-inner{
        flex-direction: column;
        justify-content: center;
    }
}

/*
    Footer
*/

.footer{
    margin-top:60px;
    background-color: var(--secondary-color);
}

.upper-footer{
    padding: 25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.useful-links{
    width: 30%;
}

.socialmedia-links{
    width:30%;
}

.footer-description{
    width:35%;
}

.footer-line-break{
    padding:2px;
    background-color: rgb(107, 105, 105);
}

.below-footer{
    padding:20px;
    text-align: center;
    font-size: 1.2rem;
}

.footer-mini-h{
    font-size: 2rem;
    color:var(--main-color);
    margin-bottom:1.25rem;
    font-weight:500;
}

.useful-links-inner,.socialmedia-links-inner{
    display: block;
    text-decoration: none;
    color:#000;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.footer-icons{
    margin-right:0.1rem;
    color:var(--main-color);
}

.socialmedia-links-inner:hover,.useful-links-inner:hover{
    padding-left:0.5rem;
    transition: 0.3s ease-in-out;
}

.socialmedia-links-inner,.useful-links-inner,.footer-description-p{
    font-size:1.1rem;
}

.footer-description-p{
    text-align: justify;
}

@media (max-width:760px){
    .upper-footer{
        justify-content: left;
    }

    .useful-links,.socialmedia-links{
        width:50%;
    }

    .footer-description{
        width:100%;
        margin-top:30px;
    }
}