.admin-buttons{
    cursor: pointer;
    padding: 20px;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}

.admin-extra-m{
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin-green-btn{
    background-color: green;
}

.admin-blue-btn{
    background-color: blue;
}

.admin-red-btn{
    background-color: red;
}

.admin-yellow-btn{
    background-color: yellow;
}

.admin-danger{
    height:8px;
    background-color: red;
}